.page {
  padding: 20px;
  height: 100%;
}

.search {
  input {
    border: 1px solid #dadada;
    border-radius: 6px;
    outline: 0;
    background: transparent;
    padding: 8px;
    letter-spacing: 0.09rem;
    &::placeholder {
      color: #979797;
      font-size: 0.9rem;
    }
  }
}

