button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  height: 32px;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  transition: 0.1s;
  font-weight: 500;
  user-select: none;
  vertical-align: middle;
  color: var(--c-black-regular);
  background-color: var(--c-white);
  border: 1px solid var(--c-border-color);
  border-color: var(--c-border-color);
  padding: 8px 15px;
  font-size: 14px;
  border-radius: 6px;

  &:hover,
  &:focus {
    border: 1px solid #c6e2ff;
    border-color: #c6e2ff;
  }
  &:active {
    border: 1px solid #409eff;
    border-color: #409eff;
  }

  &.success {
    color: var(--c-white);
    border: 1px solid var(--c-success);
    border-color: var(--c-success);
    background: var(--c-success);
    &:focus,
    &:hover {
      border: 1px solid #95d475;
      border-color: #95d475;
      background: #95d475;
    }
    &:active {
      border: 1px solid #529b2e;
      border-color: #529b2e;
      background: #529b2e;
    }
  }

  &.danger {
    color: var(--c-white);
    border: 1px solid var(--c-danger);
    border-color: var(--c-danger);
    background: var(--c-danger);
    &:focus,
    &:hover {
      border: 1px solid #f89898;
      border-color: #f89898;
      background: #f89898;
    }
    &:active {
      background: #c45656;
      border: 1px solid #c45656;
      border-color: #c45656;
    }
  }
}

input {
  border: 1px solid #dadada;
  border-radius: 6px;
  outline: 0;
  background: transparent;
  padding: 8px !important;
  letter-spacing: 0.09rem;
  &::placeholder {
    color: #979797;
    font-size: 0.9rem;
  }
}
