/* couleurs globaux qu'on peut réutiliser dans tout le projet */
:root {
  --c-success: #67c23a;
  --c-light: #e4e7ed;
  --c-border-color: #dcdfe6;
  --c-danger: #f56c6c;
  --c-white: #fff;
  --c-black-regular: #606266;
}
